/* 1. Utiliser un modèle de box-sizing plus intuitif. */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* 2. Supprimer la marge par défaut */
* {
  margin: 0;
}

/* Ajustements typographiques !
3. Ajouter une hauteur de ligne accessible
4. Améliorer le rendu du texte */
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

/* 5. Améliorer les médias par défaut */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/* 6. Supprimer les styles de typographie intégrés aux formulaires */
input,
button,
textarea,
select {
  font: inherit;
}

/* 7. Éviter les débordements de texte */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/* 8. Créer un contexte d'empilement racine */
#root,
#__next {
  isolation: isolate;
}

/**
 * Styles for the body element.
 *
 * @cssprop {Color} background-color - The background color of the body.
 * @cssprop {Color} color - The text color of the body.
 */
body {
  background-color: white;
  background-color: rgb(20, 27, 28);
  /* color: black; */
  color: white;
}

/**
 * Styles for the body element when in dark mode.
 *
 * @cssprop {Color} background-color - The background color of the body in dark mode.
 * @cssprop {Color} color - The text color of the body in dark mode.
 */
/* body.dark {
  background-color: rgb(17 24 39);
  black;
  color: white;
} */
