---
// export const partial = true;

import MainLayout from "../layouts/MainLayout.astro";
---

<MainLayout
  title="CNRB - Le Club - Information Générales | Club de natation régional de Beauce"
>
  <h1>Clubs</h1>
  <p>Here are some clubs you can join.</p>
  <h2>clubs</h2>
</MainLayout>
