---
import MainLayout from "../layouts/MainLayout.astro";
---

<MainLayout
  title="CNRB - La Grande Course des Petits Canards | Club de natation régional de Beauce"
>
  <h2>course canard page</h2>
</MainLayout>
