---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
import Header from "../components/Header.astro";
// import "../Styles/button.css";
---

<Layout title="CNRB Website ">
  <main>
    <Header />
    <h1 class="text-3xl font-bold underline">Hello world!</h1>
    <h1>Welcome to <span class="text-gradient">Astro</span></h1>
    <button>allo</button>
  </main>
</Layout>

<style>
  .link-card-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
    gap: 2rem;
    padding: 0;
  }
</style>
