---
import MainLayout from "../layouts/MainLayout.astro";
import Card from "../components/Card.astro";
import Header from "../components/Header.astro";
// import "../Styles/button.css";
---

<MainLayout>
  <main>
    <h1 class="text-4xl font-bold underline dark:text-white">Hello world!</h1>
    <h1>Welcome to <span class="text-gradient">Astro</span></h1>
    <h2>texte de merde</h2>
    <button>allo</button>
    <p>
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Architecto
      maxime culpa, dolorem magnam, quod omnis molestiae quasi officiis, magni
      praesentium recusandae eius minus quidem. Recusandae quas nulla sed
      consectetur velit ipsam soluta delectus. Veniam tenetur odio ratione
      soluta nisi. Ullam pariatur et vero ipsum hic dolores delectus alias enim
      eveniet iste inventore laboriosam dolorem debitis ipsa magni beatae sunt
      voluptate quo iusto, repellat natus repudiandae ducimus tenetur. Eos
      aspernatur aliquam animi nam consequuntur. Minus doloribus suscipit atque
      eveniet doloremque! Ullam cum, labore dolores tenetur quisquam fugit culpa
      error natus, aliquam atque nemo porro exercitationem ipsum quo et eligendi
      aspernatur qui.
    </p>
    <p>
      Tenetur reprehenderit iusto laboriosam eaque quod sit officia aut qui
      veritatis quas cumque molestiae similique ratione et ullam, incidunt sunt
      illo. Repellendus, in ullam! Vero nam possimus architecto nisi odit quidem
      repudiandae ad repellat exercitationem? Hic reprehenderit placeat ipsum
      non harum cupiditate beatae doloribus officia repellendus, laboriosam
      commodi velit, quod error, maiores architecto et tempore iste possimus ex
      labore impedit delectus at illo vero? Animi dolorum reprehenderit, sunt ab
      eveniet culpa illum. Quidem reiciendis eos molestias adipisci ut odio
      quaerat amet qui fugit veniam, nulla, rerum quae pariatur deserunt quod
      officia ad voluptatibus nesciunt consectetur! Debitis eaque assumenda
      maiores cum.
    </p>
    <p>
      Expedita veritatis soluta ut eveniet ipsa tempore? Ab quae tempore,
      dignissimos deleniti numquam ipsam placeat assumenda sit, velit incidunt
      iusto dolores aliquam libero et! Accusantium, impedit molestiae quidem
      porro minus blanditiis quaerat voluptatibus earum, tenetur aperiam
      eligendi totam exercitationem! Tenetur atque possimus repellendus,
      asperiores incidunt unde vero consectetur nostrum explicabo, quas
      blanditiis magni tempore maiores hic a sapiente. Mollitia repellat autem
      reiciendis vero cumque iste eos accusamus illo, neque eveniet voluptates
      quaerat quas! Quia deleniti impedit obcaecati harum porro provident
      facilis sit nobis. Repudiandae eligendi quos, debitis provident porro
      expedita saepe quam quas et, dolor itaque ullam omnis necessitatibus. Nam!
    </p>
  </main>
</MainLayout>

<style>
  .link-card-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
    gap: 2rem;
    padding: 0;
  }
</style>
