---
import { Link } from "astro/components";

function Header() {
  return (
    <header>
      <nav>
        <ul>
          <li>
            <Link href="/">Home</Link>
          </li>
          <li>
            <Link href="/club-competition">Club Competition</Link>
          </li>
        </ul>
      </nav>
    </header>
  );
}

export default Header;
---
